.btn-download {
    position: fixed;
    right: 2%;
    bottom: 5%;
    background-color: #db6085;
    color: #fff;
}
.btn-modl2 {
    position: fixed;
    right: 2%;
    bottom: 1%;
    background-color: #db6085;
    color: #fff;
}