<div class="row form-gradient my-4">
    <div class="col-sm-12">
        <!--Form with header-->
        <mdb-card>
    
        <!--Header-->
        <div class="header py-2 blue-gradient">
    
            <img src="/assets/images/attendance.png" class="ml-3" width="60px" style="float: left !important;">
            <div class="row d-flex justify-content-center">
            <h4 class="white-text mb-3 pt-3 font-weight-bold">Employee Attendance</h4>
            </div>
    
        </div>
        <!--Header-->
    
        <mdb-card-body class="mx-4 mt-4">
    
            <!--Body-->
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="md-form pb-1">
                            <input type="text" id="name" formControlName="name" class="form-control" mdbInput>
                            <label for="name">Name of The Person</label>
                        </div>
                
                        <div class="md-form pb-1">
                            <input type="text" id="nric" formControlName="nric" class="form-control" mdbInput>
                            <label for="nric">NRIC/FIN No.</label>
                        </div>
                        <div class="md-form pb-1">
                            <input type="text" id="designation" formControlName="designation" class="form-control" mdbInput>
                            <label for="designation">Designation</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="md-form pb-1">
                            <input type="text" id="temperature" formControlName="temperature" class="form-control" mdbInput>
                            <label for="temperature">Temperature</label>
                        </div>
                        <div class="md-form pb-1">
                            <input type="text" id="location" formControlName="location" class="form-control" mdbInput>
                            <label for="location">Location Details</label>
                        </div>
                        <div class="md-form pb-1">
                            <input type="text" id="time" formControlName="time" class="form-control" mdbInput>
                            <label for="time">Time</label>
                        </div>
                    </div>
                </div>
            
    
            <!--Grid row-->
            <div class="row d-flex align-items-center mb-4">
    
            <!--Grid column-->
            <div class="col-sm-12 text-center">
                    <button type="submit" mdbBtn color="success" rounded="true" class="z-depth-1 waves-light btn-check" mdbWavesEffect [disabled]="!myForm.valid">CHECH-IN</button>
                    <button type="submit" mdbBtn color="warning" rounded="true" class="z-depth-1 waves-light btn-check" mdbWavesEffect [disabled]="!myForm.valid">CHECK-OUT</button>
            </div>
        
            </div>
            <!--Grid row-->
            </form>
        </mdb-card-body>
    
        </mdb-card>
        <!--/Form with header-->
    </div>
  
</div>
